@use 'sass:color';

@use '@material/theme/color-palette';

$background: #000;

@use '@material/theme/index' as theme with (
  $primary: color-palette.$teal-500,
  $secondary: color-palette.$pink-400,
  $surface: color-palette.$grey-900,
  $background: $background,
  $error: color-palette.$deep-orange-900
);

// Increase border radii.
@use '@material/shape/index' as shape with (
  $small-component-radius: 8px,
  $medium-component-radius: 15px,
  $large-component-radius: 20px
);

// Use custom fonts.
@use '@material/typography' with (
  $font-family: unquote('Verdana, Geneva, sans-serif'),
  $styles-headline1: (
    font-family: unquote('"Palatino Linotype", "Book Antiqua", Palatino, serif'),
    letter-spacing: 0,
  ),
  $styles-headline2: (
    font-family: unquote('"Palatino Linotype", "Book Antiqua", Palatino, serif'),
    letter-spacing: 0,
  ),
  $styles-headline3: (
    font-family: unquote('"Palatino Linotype", "Book Antiqua", Palatino, serif'),
    letter-spacing: 0,
  ),
  $styles-headline4: (
    font-family: unquote('"Palatino Linotype", "Book Antiqua", Palatino, serif'),
    letter-spacing: 0,
  ),
  $styles-headline5: (
    letter-spacing: 0,
  ),
  $styles-headline6: (
    letter-spacing: 0,
  ),
  $styles-subtitle1: (
    letter-spacing: 0,
  ),
  $styles-subtitle2: (
    letter-spacing: 0,
  ),
  $styles-body1: (
    letter-spacing: 0,
  ),
  $styles-body2: (
    letter-spacing: 0,
  ),
  $styles-caption: (
    letter-spacing: 0,
  ),
  $styles-button: (
    letter-spacing: 0,
  ),
  $styles-overline: (
    letter-spacing: 0,
  )
);

@use '../site';

html,
body {
  background-color: theme.$background;
  color: theme.$on-surface;
}

code,
pre {
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: color-palette.$blue-200;
}
a:visited {
  color: color-palette.$deep-purple-200;
}
